# Question 189
## Rotate Array
### Problem Statement - 

Given an integer array `nums`, rotate the array to the right by `k` steps, where `k` is non-negative.

 
### Examples
#### Example 1

**Input**: nums = [1,2,3,4,5,6,7], k = 3

**Output**: [5,6,7,1,2,3,4]

**Explanation**:

rotate 1 steps to the right: [7,1,2,3,4,5,6]

rotate 2 steps to the right: [6,7,1,2,3,4,5]

rotate 3 steps to the right: [5,6,7,1,2,3,4]

#### Example 2

**Input**: nums = [-1,-100,3,99], k = 2

**Output**: [3,99,-1,-100]

**Explanation**: 

rotate 1 steps to the right: [99,-1,-100,3]

rotate 2 steps to the right: [3,99,-1,-100]

### Constraints
* `1 <= nums.length <= 105`
* `-231 <= nums[i] <= 231 - 1`
* `0 <= k <= 105`

### Follow Up
* Try to come up with as many solutions as you can. There are at least three different ways to solve this problem.
* Could you do it in-place with O(1) extra space?

For a dummy lets consider the first example `nums = [1,2,3,4,5,6,7]`, `k = 3`

In [9]:
nums = [1,2,3,4,5,6,7]
k = 3

# Method 1

If somehow we are able to to place one element , in our case which is `7` and place it before `1` like this `[7 , 1 , 2 , 3 , 4 , 5 , 6]`, then it would become easier for us and then we just need to do the same thing a number of times

For removing one element with its index known, we use `list.pop(index)`, and the index, we ca use two conventions
* `-1`
* `len(list) - 1`

In [6]:
nums.pop(-1)

7

In [10]:
nums.pop(len(nums) - 1)

7

For adding this element into the list we can use the `list.insert(index , element)` function

In [11]:
nums.insert(0 , "x")

In [12]:
nums

['x', 1, 2, 3, 4, 5, 6]

Now we need to intialize `nums` again

In [13]:
nums = [1,2,3,4,5,6,7]

Doing for the poped element, we can do this

In [14]:
nums.insert(0 , nums.pop(-1))

In [15]:
nums

[7, 1, 2, 3, 4, 5, 6]

Now we need to intialize `nums` again

In [16]:
nums = [1,2,3,4,5,6,7]

Now we just need to do this iteratively

In [17]:
for _ in range(k):
    nums.insert(0 , nums.pop(-1))

In [18]:
nums

[5, 6, 7, 1, 2, 3, 4]

Now we just need to make a function and beautify it

In [ ]:
class Solution:
    def rotate(self, nums: List[int], k: int) -> None:
        for i in range(k):
            nums.insert(0 , nums.pop(-1))

        return nums